:root {
    --color-blurple: #7289da;
    --color-not-quite-black: #23272a;
    --color-dark: #2c2f33;
    --color-lighter-dark: #45494e;
    --color-full-white: #ffffff;
    --color-grey-white: #b9bbbe;
    --color-grey-dark: #242629;
    --color-actually-black: #000000;
    --color-fantastic-green: #00ae7a;
}
