* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
