.squircle {
    background-color: var(--color-lighter-dark);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: border-radius 128ms, background-color 128ms, color 128ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--color-full-white);
        position: absolute;
        border-radius: 4px;
        top: 50%;
        transform: translate(-95%, -50%) scale(0);
        transition: transform 180ms;
    }

    &:hover {
        .popper {
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }

    &:hover,
    &.active {
        border-radius: 36%;

        &::before {
            transform: translate(-95%, -50%) scale(0.5);
        }

        &.blurple {
            background-color: var(--color-blurple);
        }
        &.fantastic-green {
            background-color: var(--color-fantastic-green);
        }

        p {
            opacity: 1;
        }
    }

    .icon {
        border-radius: inherit;

        &.hidden {
            display: none;
        }

        &:not(svg) {
            width: inherit;
            height: inherit;
        }

        &:is(svg) {
            font-size: xx-large;
        }
    }

    p {
        opacity: 0;
        position: absolute;
        top: 100%;
        font-size: x-small;
        text-shadow: 0 1px 2px var(--color-actually-black);
        transition: opacity 180ms;
    }
}
